---
// src/pages/index.astro
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>GitPulse</title>
  </head>
  <body>
    <h1>GitPulse</h1>
    <p>Data pipeline active. Frontend coming soon.</p>
  </body>
</html>
